.cropped-image{
    width: 1366px; /* lebar crop gambar yg diinginkan */
    height: 300px; /* tinggi crop gambar yg diinginkan */
    object-fit: cover;
    object-position: 20% 10%; /* menentukan view crop image yg diinginkan */ 
    border: 5px solid black;
}